.cookie-banner{
  position:fixed;
  bottom:1rem; left:50%;
  transform:translateX(-50%);
  z-index:1050; 
  max-width:420px;
  width:90vw;
  background:#FF28A8;
  border-radius:0.75rem;
  box-shadow:0 8px 28px rgba(0,0,0,.15);
  padding:1.25rem 1.5rem;
  font-size:.95rem;
}

.cookie-banner .cookie-text{
  margin:0;
  color:#fff;
}

.cookie-banner .cookie-link{
  text-decoration:underline;
  color: #09096A;
}

.cookie-banner .btn{
  font-size:.875rem;
  background-color: #09096A;
}

.visually-hidden{
  display:none !important;
}

@media (max-width:576px){
  .cookie-banner{
    left:0; right:0;
    transform:none;
    width:100%;
    border-radius:0;
  }
}


#cookie-accept {
  background-color: #ffd900;
  color: #09096A;          
  border-color: #fffcec;    
}

#cookie-decline {
  background-color: #ffffff;
  color: #09096A;
  border-color: #e0e0e0; 
}

#cookie-accept:hover,
#cookie-accept:focus {
  background-color: #4400ff;
}

#cookie-decline:hover,
#cookie-decline:focus {
  background-color: #f7f7f7; 
}
